In [1]:
import os

In [2]:
os.getcwd() #current working directory0

'C:\\Users\\ADMIN\\Documents\\Naresh it\\python session'

- normal statement using ,
- format method
- f string mehtod

In [7]:
name1="python"
name2="jupiter notebook"
# if you want to write python program , you need to open jupiter notebook
print("if you want to write",name1,"program , you need to open",name2)
print("if you want to write {} program , you need to open{}".format(name1,name2))
print(f"if you want to write {name1} program , you need to open{name2}")

if you want to write python program , you need to open jupiter notebook
if you want to write python program , you need to openjupiter notebook
if you want to write python program , you need to openjupiter notebook

In [8]:
print("hello", end="  ")
print("python")

hello  python

In [9]:
print(100,end=' ')
print(200,end=' ')
print(300,end=' ')

100 200 300

In [10]:
print(100,200,300,sep=',')

100,200,300

**note**
- if you want to use end operator, minimum two print statement should be there
- end means joining then two print statements
- you can join with any spl character, any name or any number
- inside print statement we can print many values
- if you want to seperate those values use seperator

- normal print
- format
- f string
- end
- seperate