In [ ]:
## Type caste
**Data type conversion**
converting one daata type to another data type
**integer type conversion**
- float to int
- float to str
-

In [6]:
name=(100)
print ("float conversion is",float(name))
print ("str conversion is",str(name))
print ("bool conversion is",bool(name))

float conversion is 100.0
str conversion is 100
bool conversion is True

In [3]:
num=0
float(num),str(num),bool(num)

(0.0, '0', False)

In [ ]:
**note**
- For Integer 0 value we will get false
- Remaining all other vallues(+)

In [5]:
num1=10.5
str(num1),bool(num1),int(num1)

('10.5', True, 10)

In [7]:
num2=0.0
str(num2),bool(num2),int(num2)

('0.0', False, 0)

**String conversion**

In [8]:
str1="python"
int(str1)

ValueError: invalid literal for int() with base 10: 'python'

In [9]:
bool(str1)

True

In [11]:
str2='10'
int(str2),float(str2),bool(str2)

(10, 10.0, True)

In [13]:
str3='10.5'
int(str3),float(str3),bool(str3)

ValueError: invalid literal for int() with base 10: '10.5'

In [14]:
bool(str3)

True

**note**
- float representation of string works only for float conversation

In [15]:
str4=''
int(str4),float(str4),bool(str4)

ValueError: invalid literal for int() with base 10: ''

In [16]:
float(str4)

ValueError: could not convert string to float: ''

bool(str4)

In [18]:
bool1=True
int(bool1),float(bool1),bool(bool1)

(1, 1.0, True)

In [19]:
bool2=False
int(bool2),float(bool2),bool(bool2)

(0, 0.0, False)

In [ ]:
str1='word' #int fail
str2='' #int float
str3='10.5' #int fail
str4='10' #all works